.container {
    background : url(images/background.png) center center no-repeat $dark-cyan;
    background-size: cover;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 100vh;
    width          : 100vw;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}