// Colors
$dark-cyan    : hsl(185, 75%, 39%);
$dark-blue    : hsl(229, 23%, 23%);
$grayish-blue : hsl(227, 10%, 46%);
$dark-gray    : hsl(0, 0%, 59%);

// Responsive sizes
$mobile-width : 375px;
$desktop-width: 1440px;

$font-size    : 18px;
$font-color:  #12111c;
$shadow: 0px 0px 20px rgba(0,0,0,0.5);
$radius: 12px;
$card-bg: #fff;